<configuration>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- JVM Night's Watch logs -->
    <logger name="com.acorp.jvminsight"
            level="DEBUG"/>

    <!-- third-party libraries -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>